# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\作業\MadGameTycoon2_Translate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
